<!DOCTYPE html>
<html>
<head>
    <title>Clasificador de imágenes de rayos X</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>Clasificador de imágenes de rayos X</h1>
    <form action="/api/modelo" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Enviar</button>
    </form>

    <h2>Imagen:</h2>
    <img src="data:image/jpeg;base64, {{ image }}" alt="Imagen">

    <h1>{{clasificacion}}</h1>
</body>
</html>